@import "tailwindcss";

@theme {
  --color-primary-50: #FFFFFF;
  --color-primary-100: #F4F3EE;
  --color-primary-200: #C7D0DA;
  --color-primary-300: #8D9EB1;
  --color-primary-400: #768AA0;
  --color-primary-500: #596D7D;
  --color-primary-600: #2E3942;
  --color-primary-700: #202A31;
  --color-primary-800: #141A1E;
  --color-primary-900: #0C1115;
  --color-secondary-50: #92BE00;
  --color-secondary-100: #BE4300;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}